{% extends 'admin/master.html' %} {% block body %}
<div>
    <h3>数据库管理后台</h3>
    <ul>
        <li>数据库管理基于flask-admin插件实现</li>
        <li>使用大屏幕访问效果更佳</li>
        <li>对数据库中的键值进行了翻译</li>
        <li>对每个数据表，都可设置可编辑，可查看权限</li>
        <li>可以忽略数据表中的某些列来显示</li>
    </ul>

    <h3>操作说明</h3>
    <ul>
        <li>请在进行改动时先备份数据库，错误的改动会导致系统出现严重错误。</li>
        <li>管理后台只有管理员（admin用户组）登录后才能访问。</li>
    </ul>

    <h3>管理后台具有以下功能</h3>
    <ul>
        <li>查看数据库</li>
        <li>增添或修改数据</li>
        <li>创建自定义查询</li>
        <li>批量删除</li>
        <li>导出excel等格式的文件</li>
    </ul>

</div>
{% endblock %}